@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, Docker</h1>
    <p>This is a simple ASP.NET Core app running in a Docker container</a>.</p>
</div>
